footer.footer 
    .footer__container.container
        .footer__block 
            .footer__img(title = "aim")
                .icon-box
                    img.svg-aim-dims(src="../icons/icons.svg#aim", alt="aim")
            h5 Наше обучение построено очень лаконично и просто
            .footer__subtitle Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.
        .footer__block 
            .footer__img
                img(src="", alt="todo")
            h5 Ко всем урокам есть дополнительные материалы
            .footer__subtitle Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
        .footer__block 
            .footer__img
                img(src="", alt="group")
            h5 Наше обучение — практико-ориентированное
            .footer__subtitle Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.
        .footer__block 
            .footer__img
                img(src="", alt="choto")
            h5 Создатели нашей Академии
            .footer__subtitle Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.