header.header 
    .header__container.container
        .header__logo 
            a(href="#")
                img(src="/img/logo.png", alt="logo")
        .header__logo-name        
            a(href="#")
                img(src="/img/stat4market.png", alt="stat4market")
        .header__about Надежный сервис <br> аналитики для поставщиков <br> на маркетплейсы
        nav.header__nav
            ul
                li(title="arrow", class="icon-box")
                    a(href="#") Аналитика
                    img(src="../icons/icons.svg#arrow" class="svg-arrow-dims" alt="arrow")
                li 
                    a(href="#") Обучение
        .header__number
            img(src="../icons/icons.svg#phone", class="svg-phone-dims" alt="phone")
            a(href="tel: +74994503141") 8 (499) 450-31-41
        .header__btn
            img(src="../icons/icons.svg#sign", class="svg-sign-dims" alt="sign")
            a(href="#") Войти
        a(href="#").header__burger
            span